# FILES to be ignored
# https://www.home-assistant.io/docs/ecosystem/backup/backup_github/
!*.yaml
secrets.yaml
known_devices.yaml
#db files
*.db
*.db-journal
*.perm
*.pem
home-assistant.log
*.conf
*.DS_Store
*.config_entries.json
*.spotify-token-cache
*.uuid
*.vscode/

#folders
deps
tts
backup_certs

#don't ignore folders
!scenes
